/* for variables */
:root {
    --nav-bar-color: white;
    --main-page-color1: #a9f3a9;
    --main-page-color2: #47da47;
    --button-background-color: #96e796;
    --button-text-color: #008100;
    --button-hover-color: #eaea1c;
    --border-hover-background-color: #0a730a;
    --form-background-color: #e9ffa1;
    --discount-color: red;
}

*, ::before, ::after {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

/* header styles */

h1 a, nav a {
    color: black;
}

a {
    text-decoration: none;
}

#nav-bar {
    width: 100%;
}

#nav-bar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-direction: row;
    /* border-color: red; */
}

#nav-bar ul li {
    text-align: center;
}

.site-banner-container {
    position: sticky;
    top: 0;
    background-color: var(--nav-bar-color);
    width: 100%;
}

#header-img {
    width: 72px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#header > div > * {
    margin: 0 5px;
}

nav a {
    font-size: 1.8rem;
}

nav a:hover {
    color: var(--button-text-color);
}

.flex-position-left, .flex-position-right {
    display: flex;
    padding: 10px;
    width: 50%;
    /* align-items: center; */
}

.flex-position-left {
    justify-content: start;
}

.flex-position-right {
    justify-content: end;
}

/* main styles */

body {
    background: linear-gradient(
        45deg,
        var(--main-page-color1),
        var(--main-page-color2)
    );
}

h1 a {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 6rem;
}

h2, button {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
}

p, label, input, a, h3, li {
    font-family: "Quicksand", sans-serif;
}

img {
    object-fit: cover;
    display: block;
}

.site-main-top header h2 {
    font-size: 3rem;
    text-align: center;
    margin: 15px auto;
} 

#top-img {
    width: 400px;
    margin: -5px auto 10px;
    border-radius: 10px;
}

/* form styles */

#form h2 {
    font-size: 2.4rem;
    text-align: center;
}

#form h2 span {
    color: var(--button-text-color);
}

#form h2 span:hover {
    color: var(--discount-color);
}

#form {
    width: 40%;
    min-width: 200px;
    max-width: 500px;
    /* border-color: red; */
    margin: 10px auto;
    background-color: var(--form-background-color);
    border-radius: 5px;
    padding: 10px;
}

label[for="email"] {
    /* border: 1px red solid; */
    display: block;
    width: 50%;
    margin: 10px auto 2px;
    font-size: 1.4rem;
}

#form input {
    display: block;
    margin: 0 auto 8px;
    width: 50%;
    padding: 2px;
    border-radius: 3px;
}

button#submit {
    display: block;
    margin: 0 auto 10px;
    background-color: var(--button-background-color);
    font-size: 3.0rem;
    color: var(--button-text-color);
    border-radius: 5px;
    border: 2px var(--button-text-color) solid;
    padding: 4px;
}

button#submit:hover {
    border-color: var(--button-hover-color);
    color: var(--button-hover-color);
    background-color: var(--border-hover-background-color);
}

/* product demo and video section */

.product-demo h2 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 3.0rem;
}

.product-demo h3 {
    font-size: 2.0rem;
}

.product-demo {
    /* border: 1px blue solid; */
    padding: 30px;
    width: 80%;
    margin: 15px auto;
    background-color: var(--form-background-color);
    border-radius: 5px;
}

.product-demo article p {
    text-align: justify;
    font-size: 1.4rem;
}

.product-demo ul {
    list-style-position: inside;
    padding: 20px;
    line-height: 1.5;
    font-size: 1.6rem;
    text-align: justify;
}

.product-demo h2, .product-demo h3 {
    margin-bottom: 10px;
}

/* video container */

.video-container {
    margin: auto;
    text-align: center;
    padding: 15px;
    background-color: var(--main-page-color2);
    width: 50%;
    min-width: min-content;
    
}

#video {
    margin: auto;
    width: 500px;
    height: auto;
}

/* footer */

footer {
    display: flex;
    background-color: var(--nav-bar-color);
    justify-content: space-evenly;
    padding: 25px;
    font-size: 1.4rem;
}

.bold {
    font-weight: 700;
}

.address span {
    display: block;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: var(--button-text-color);
}
/* responsive features */

@media only screen and (max-width: 500px) {
    .flex-position-left, .flex-position-right {
        width: 100%;
    }

    #header {
        flex-direction: column;
    }

    h1 a {
        font-size: 4.8rem;
    }

    #header-img {
        width: 58px;
    }

    .flex-position-left, .flex-position-right {
        justify-content: center;
    }

    .video-container {
        width: 50vw;
    }

    #video {
        width: 40vw;
    }
}

@media only screen and (max-width: 800px) {
    .flex-position-left, .flex-position-right {
        width: 100%;
    }

    #header {
        flex-direction: column;
    }

    .flex-position-left, .flex-position-right {
        justify-content: center;
    }

    .video-container {
        width: 30vw;
    }

    #video {
        width: 40vw;
    }
}